body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #2d2e36;
  font-family: "Poppins", sans-serif;
}

.card {
  max-width: 270px;
  background-color: #383a45;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.photo {
  width: 100%;
  border-radius: 0.5rem;
}

h1 {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 119.7%;
}

p {
  color: #8d91a6;
  font-size: 1rem;
  font-weight: 300;
}

@media only screen and (min-width: 500px) {
  .card {
    max-width: 729px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
  }

  .photo {
    width: 16.3rem;
    border-radius: 0.5rem;
  }
}
